<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="3.0.3" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.config.e_sqlite3" version="3.0.3" />
  <package id="SQLitePCLRaw.core" version="3.0.3" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="3.0.3" />
  <package id="SourceGear.sqlite3" version="3.50.4.5" />
</packages>